body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: #fafafa;

  a {
    text-decoration: none;
  }

  .info {
    background-color: #8e2020;
    color: #fff;
    p {
      margin: 0;
      padding: 4px;
      text-align: center;
      font-weight: 900;
    }
  }

  .navbar-logo-box {
    background-color: #fafafa;
    .navbar-logo {
      display: block;
      width: 8rem;
      margin: 1rem auto;

      img {
        width: 100%;
      }
    }
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;

    .navbar-menu {
      display: flex;
      justify-content: center;
      padding: 0;
      list-style-type: none;
      flex-grow: 1;
      margin: 0;
      &.show {
        display: flex;
        max-height: 500px;
        transition: max-height 0.6s;
      }
      .navbar-menu-item {
        text-align: center;
        .nav-link {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          color: #484848;
          &:hover {
            color: #8e2020;
          }
          i {
            margin-right: 3px;
          }
        }
      }
      @media (max-width: 509px) {
        & {
          /* display: none; */
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          margin: 0;
          transition: max-height 0.6s;
          flex-basis: 100%;
          &.navbar-menu-item {
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }
      }
    }

    .navbar-toggler {
      border: unset;
      background-color: unset;
      cursor: pointer;
      padding: 0;
      margin: 12px;
      width: 26px;
      height: 22px;
      outline: none;
      position: relative;
      .navbar-toggler-icon {
        width: 26px;
        height: 2px;
        background-color: #484848;
        position: absolute;
        left: 0;
        transition: all 0.45s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.open {
        .navbar-toggler-icon {
          &:nth-child(1) {
            top: 50%;
            transform: rotateZ(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 50%;
            transform: rotateZ(-45deg);
          }
        }
      }
      @media (min-width: 510px) {
        & {
          display: none;
        }
      }
    }
  }

  .article {
    margin: 30px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}
